body {
  padding-top: 54px;
}


@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.card-img-top{
    padding-top:5%;
    width:40%;
    margin-left:25%;
    display: block;

}
.center{
    margin: auto;
    padding: 20px;
     max-width: 900px;
}
.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
